%meta{ charset: 'utf-8' }
%meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

%link{ rel: 'stylesheet', type: 'text/css', href: '//fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Open+Sans:400italic,700italic,400,600,700,300' }

%link{ rel: 'canonical', href: canonical }
%link{ rel: 'author', href: '//humans.txt'}
%title
  = title
%meta{ content: meta_description, name: 'description' }
= stylesheet_link_tag    "application"
-# = javascript_include_tag "vendor/modernizr"
= csrf_meta_tags
