-# On-canvas- larger screens
%section.main-nav
  %nav{ role: "navigation", :'aria-hidden' => true }
    %ul.pull-left
      =render "shared/menu_items"
    .pull-right
      %ul
        =link_to root_path do
          %li
            -#%i.icon-bee-over-honeycomb
            %label 555.555.5555
        =link_to root_path do
          %li
            -#%i.icon-bee-over-honeycomb
            %label example@email.com
