-# ----    Menu Items    ---- #
%li.item
  =link_to root_path do
    %i.icon-beehive
    %label Home
%li.item
  =link_to root_path do
    %i.icon-waiting-bee-1
    %label Get a Quote
%li.item
  =link_to root_path do
    %i.icon-bee-with-jar
    %label Pricing
%li.item
  =link_to root_path do
    %i.icon-beekeeper-waving
    %label Blog
%li.item
  =link_to root_path do
    %i.icon-flying-bee
    %label Services
%li.item
  =link_to root_path do
    %i.icon-bee-over-honeycomb
    %label Portfolio
