-# ----    Menu Items    ---- #
=link_to root_path do
  .container
    %li
      -#%i.icon-beehive
      %label Home
=link_to root_path do
  .container
    %li
      -#%i.icon-waiting-bee-1
      %label Get a Quote
=link_to root_path do
  .container
    %li
      -#%i.icon-bee-with-jar
      %label Pricing
=link_to root_path do
  .container
    %li
      -#%i.icon-beekeeper-waving
      %label Blog
=link_to root_path do
  .container
    %li
      -#%i.icon-flying-bee
      %label Services
=link_to root_path do
  .container
    %li
      -#%i.icon-bee-over-honeycomb
      %label Portfolio

