-title "Home"
-meta_description "Is your website working for you? We specialize in e-commerce, SEO, and mobile design for small business.  Contact us for a free quote to help build your brand!"
-canonical "www.inherent-knowledge.com"

.video-bkg-container
  -# %video{ autoplay: true, :loop => true, muted: true, poster: 'images/workingcomp800x530.jpg', alt: 'Video background for Inherent Knowledge web design in Jacksonville, FL- business is busy as a bee.' }
  -#   %source{ src: '3724946.webm', type: 'video/webm' }
  -#   %source{ src: '3724946.ogg',  type: 'video/ogg'  }
  -#   %source{ src: '3724946.mp4',  type: 'video/mp4'  }
  -#   -#%img.background{ src: 'images/workingcomp800x530.jpg', alt: 'Video background for Inherent Knowledge web design in Jacksonville, FL- business is busy as a bee.' }
.row
  .video-overlay-content
    %h1 Hello Inherent Knowledge, LLC
.row
  .why-to-choose
    %h2 Why Inherent Knowledge?
.row
  .featured
    %h2 Satisfied Clients
.row
  .services
    %h2 What we offer
.row
  .cta
    %h2 Contact Us today!
