-title "Home"
-meta_description "Is your website working for you? We specialize in e-commerce, SEO, and mobile design for small business.  Contact us for a free quote to help build your brand!"
-canonical "www.inherent-knowledge.com"
-bkg_start "shared/home_video"

%section.intro-section
  .vid-overlay-content
    .row
      %h1
        Does
        %span your brand
        precede you?
      // Libre Baskerville (Google font)
    .row.last
      .bottom_message
        %p
          Scroll or click to learn more
          // Open Sans
        %p
          Link

%section.other_home_content
  %section.advantages
    .row
      %h2 Why Inherent Knowledge?
      %p
        Today, you need a standout website to win and keep customers.  Flashy gifs and keywords won't cut it.
      %p
        Get a solution that's built around intelligent design with real substance.  Your brand is everything.
      %p
        Inherent Knowledge takes pride in delivering high quality products to small business owners, at a price that won't break the bank.  If it's too hard to believe, check out the
        %span pricing
        page.
    .row
      .bottom_message
        %p
          Check out
          %span Website Design Features
        %p
          Link

  %section.featured
    .row
      %h2 A selection of the most in-demand products for Website Design:
      %p
        %span On-site SEO, Usability, and Accessibility:
        They are not just Internet buzzwords anymore.  On-site SEO ensures search engines can find and "read" your site.  Usability presents the right information, at the right time, in a way that customers are encouraged to use it.  And Accessibility means your site is usable by customers of all stripes- as well as by some of the latest mobility technologies.  On-site SEO, Usability, and Accessibility features are included with all websites designed by Inherent Knowledge.
      %p
        %span Secure e-Commerce design:
        It seems like every major retailer today is exposed, and potential customers are more concerned than ever about sharing their information.  Amazingly, the small business is at an advantage today because of this.  With a proper and secure design, your customers will not only feel safe- they will BE safe.  If your business involves e-Commerce, Inherent Knowledge can help.
      %p
        %span Social Media Integration:
        Let your customers be your biggest advocates!  If your customers can't easily link to your products and services, you may be missing out on one of the biggest sources of free advertising available.  By integrating standard social media tools into your website, your customers will be more likely to use your products, and they will help bring even more customers.
      %p
        %span Content Management:
        Maybe your business doesn't have or need a Blog.  Unfortunately, staying on top of the local market through search engines, and staying in touch with your customers, still requires frequent high-quality updates to your site.  Depending on your needs and budget, this can be set up so you can easily make adjustments to your content, or Inherent Knowledge can make regular updates at your direction.
    .row
      .bottom_message
        %p
          Check out
          %span Additional Services
        %p
          Link

  %section.services
    .row
      %h2 Website Design isn't everything.  Here's a few additional services:
      %p
        %span Social Media Marketing (SMM):
        Are your customers getting what they want out of your social media presence?  Facebook, Twitter, and LinkedIn are today's equivalent of the Sunday paper.  Keep your current customers and bring in new customers for a fraction of traditional advertising costs!
      %p
        %span Responsive Design/ Mobile Design:
        In 2014, almost half of Internet users were on their cellular phones and mobile devices.  Is your site showing your business when your customers are looking?  Responsive design lets you maintain your brand's message on every device your customers use, whether at home or at the local watering hole.
      %p
        %span Search Engine Optimization (SEO):
        If Google can't find you, no one can.  In recent years, changes to the Google search algorithm and increased competition have made it harder to rise to the top.  Just having the right design isn't always enough.  Let Inherent Knowledge stay up to speed on the latest requirements so you don't have to.
      %p
        %span Technical Expertise:
        Confused by web hosting options?  Worried about DNS?  Is your site secure?  Got a special project?  Inherent Knowledge can help with all those things and more.
        %span Contact us today
        for a customized evaluation.
  %section.cta
    .row
      %h2 Need results?
      %h3 Your success is our business.
      %p Give us a buzzz
