-title "Home"
-meta_description "Is your website working for you? We specialize in e-commerce, SEO, and mobile design for small business.  Contact us for a free quote to help build your brand!"
-canonical "www.inherent-knowledge.com"

%section.full-width.intro-section
  .row
    .vid-overlay-content.small-12.columns
      %h1 Hello Inherent Knowledge, LLC
%section.other_home_content
  %section.advantages
    .row
      .small-12.columns
        %h2 Why Inherent Knowledge?
  %section.featured
    .row
      .small-12.columns
        %h2 Satisfied Clients
  %section.services
    .row
      .small-12.columns
        %h2 What we offer
  %section.cta
    .row
      .small-12.columns
        %h2 Contact Us today!
