// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// TODO: Investigate usefulness of Data URI feature
// See asset_data_uri helper for .erb files and the Rails asset pipeline at
// http://guides.rubyonrails.org/asset_pipeline.html

@import functions
@import color_palette
@import icon_font
@import z_index
// $background, background-overlay, $main-content, $modal, $drift-under

label, i
  cursor:             inherit

.video-bkg-container
  width: 100%
  overflow: hidden


.video-cover, #top-video
  position:           absolute !important
  right:              0px
  bottom:             0px
  width:              auto
  height:             auto
  min-width:          100%
  min-height:         100%

#top-video
  z-index:            $background

.video-cover
  top:                0px
  left:               0px
  background-color:   $sky_dark
  opacity:            0.7
  z-index:            $background-overlay

.main-nav
  line-height: 1.5
  position: relative
  background: transparent
  color: $white
  padding: 15px
  ul
    list-style: none

.container
  display: inline-block
  padding: 15px 5px
  li
    float: left
    padding: 5px 15px
  li:hover
    background: black

.pull-right
  position: absolute
  right: 30px
  top: 8px





.off-canvas-fixed
  // deals with behavior of fixed-off-canvas menu
  -webkit-transition:   -webkit-transform 500ms ease
  transition:           transform 500ms ease

.move-right > .off-canvas-fixed
  // deals with behavior of fixed-off-canvas menu
  height: 100%
  -webkit-transform:    translate3d(15.625rem, 0,0)
  transform:            translate3d(15.625rem, 0,0)

.left-off-canvas-menu
  // deals with behavior of fixed-off-canvas-menu
  -webkit-transform:    none
  transform:            none
  margin-left:          -15.625rem

ul.icon-bar
  margin-bottom:          0rem

.icon-bar > * i
  font-size:              3.875rem

ul.off-canvas-list li label
  display: inline
  background-color: inherit
  border: none

.off-canvas-list > * i
  font-size:  2rem

ul.off-canvas-list li a
  padding: 0.2rem

  label
    position: relative
    top: rem-calc(-8px)

#off-canvas-title
  border-right:   black
  background-color: black

  label
    top: 0.15rem


#hexagon
  width: 100px
  height: 55px
  background: red
  position: relative
  :before
    content: ""
    position: absolute
    top: -25px
    left: 0
    width: 0
    height: 0
    border-left: 50px solid transparent
    border-right: 50px solid transparent
    border-bottom: 25px solid red
  :after
    content: ""
    position: absolute
    bottom: -25px
    left: 0
    width: 0
    height: 0
    border-left: 50px solid transparent
    border-right: 50px solid transparent
    border-top: 25px solid red


// @media only screen

// @media only screen and (max-width: 40rem)
// // max-width 640px

// // Medium screens
// @media only screen and (min-width: 40.063rem)
// // min-width 641px, medium screens */

// @media only screen and (min-width: 40.063rem) and (max-width: 64rem)
// // /* min-width 641px and max-width 1024px

// // Large screens
// @media only screen and (min-width: 64.063em)
// // min-width 1025px, large screens */

// @media only screen and (min-width: 64.063em) and (max-width: 90em)
// // min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// // XLarge screens
// @media only screen and (min-width: 90.063em)
// // min-width 1441px, xlarge screens */

// @media only screen and (min-width: 90.063em) and (max-width: 120em)
// //min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// // XXLarge screens
// @media only screen and (min-width: 120.063em)
