!!!
-# see helper methods in app/helpers/application_helper.rb
%html(lang="en")
  %head
    =render "shared/head"
  %body
    =render bkg_start #home_video.html.haml

    -# ------   Navigation Menus    ---- #
    =render "shared/main_nav"
    -#.off-canvas-wrap{ :'data-offcanvas' => true }
      -#=render "shared/off_canvas_nav"
      -# ----    Main Content       ---- #
    %section.main-section.inner-wrap
      =yield


    -# ------    Footer items       ---- #
    =render "shared/footer"
