!!!
-# see helper methods in app/helpers/application_helper.rb
%html(lang="en")
  %head
    =render "shared/head"

  %body
    .video-bkg-container
      =video_tag ['3724946.webm', '3724946.ogg', '3724946.mp4', 'workingcomp800x530.jpg'], autoplay: true, loop: true, muted: true, poster: 'workingcomp800x530.jpg', id: 'top-video', alt: 'Video background for Inherent Knowledge web design in Jacksonville, FL- business is busy as a bee.'
    .video-cover
    =render "shared/masthead"


    -# ------   Navigation Menus    ---- #
    =render "shared/main_nav"
    .off-canvas-wrap{ :'data-offcanvas' => true }
      =render "shared/off_canvas_nav"


      -# ----    Main Content       ---- #
      %section.main-section.inner-wrap
        =yield


    -# ------    Footer items       ---- #
    =render "shared/footer"
    = javascript_include_tag "application"

